html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.action_item_date {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #29313D;
	padding: 8px 16px;
	text-align: center;
	border-radius: 8px;
	background: #E4EAF1;
}
.action_wrapper_approve_status {
	display: flex;
	justify-content: flex-end;
}
.action_item_text {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	text-align: left;
	color: #29313D;
}
.action_wrapper_approve_status .companies_storages_item_second_status {
	width: fit-content;
}
.action_item:not(:last-child) {
	margin-bottom: 16px;
}
.user_item:not(:last-child) {
	margin-bottom: 8px;
}
.logs_top_filter_col_input_checkbox label {
	display: flex;
	align-items: center;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #29313D;
}
.logs_top_filter_col_input input {
	padding-left: 50px !important;
	background: url('assets/images/search.svg') no-repeat 16px;
}
.logs_top_filter_col_input_title span {
	font-family: Poppins;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
	margin-left: 16px;
	color: #29313D;
}
.logs_top_filter_col_input_title {
	display: flex;
	align-items: center;
}
.login {
	height: 100vh;
}
.logs_top_filter_col_input_checkbox .custom_checkbox span {
	margin-right: 16px;
}
.logs_top_filter_col_input {
	margin-left: 40px;
}
.logs_top_filter_col_input_checkbox .custom_checkbox:not(:last-child) {
	margin-right: 40px;
}
.logs_top_filter {
	display: flex;
	align-items: center;
	margin-bottom: 38px;
	justify-content: space-between;
}
.action_item_text span {
	font-weight: 700;
}
.logs_top_filter_col_input_checkbox .custom_checkbox{
	position: relative;
}
.logs_top_filter_col_input_checkbox {
	display: flex;
	margin-left: 40px;
	align-items: center;
}
.action_wrapper_approve_reject .button:first-child {
	border-color: #16D278;
}
.logs_top_filter_col {
	display: flex;
	align-items: center;
}
.logs .backlink .button {
	margin-right: 0;
}
.action_wrapper_approve_reject .button:last-child {
	border-color: #EB5757;
}
.action_item {
	display: grid;
	align-items: center;
    grid-template-columns: 200px 5fr 1fr;
    grid-gap: 20px;
	padding: 8px 0;
}
.action_wrapper_approve_reject {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}
.action_wrapper_approve_reject .button {
	width: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #ECF0F3;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}
input {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	border: 0;
}
input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover {
	border-color: black;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus {
	border-color: #FF8A00;
}
input[type=text], input[type=email], input[type=tel], input[type=number], select, textarea, input[type=password] {
	padding: 10px 16px;
	border: 1px solid #BAC9DE;
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	color: #29313D;
	font-weight: 400;
	transition: all .3s linear;
	line-height: 24px;
	width: 100%;
	border-radius: 10px;
	outline: none;
}
textarea {
	height: 150px;
	resize: none;
}
select {
	appearance: none;
	-webkit-appearance: none;
	background-image: url('assets/images/down.svg');
	background-repeat: no-repeat;
	background-position: 98%;
	-moz-appearance: none;
}
.wrapper_form {
	max-width: 428px;
	padding: 64px;
	background: #ffffff;
	width: 100%;
	border-radius: 24px;
}
.login_wrapper {
	display: flex;
	background-color: #FFECDD;
	background-image: url(./assets/images/bg_gif_2.svg);
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	height: 100%;
	justify-content: center;
}
.login_logo img {
	display: block;
	margin: 0 auto;
}
.login_logo {
	margin-bottom: 45px;
}
.login_input label {
	display: flex;
	flex-direction: column;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	color: #667B99;
	text-align: left;
}
.login_input label span {
	display: block;
	position: relative;
}
.login_input span  {
	margin-top: 8px;
}
.login_input {
	position: relative;
}
.login_input.password svg {
	position: absolute;
	top: 0;
	right: 0;
	top: 10px;
	cursor: pointer;
    display: block;
    right: 16px;
}
.login_input:not(:last-child) {
	margin-bottom: 48px;
}
.forgot_password {
	display: block;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	color: #7A94B8;
	width: fit-content;
	text-decoration: none;
	margin-top: 8px;
	margin-left: auto;
	margin-right: 0;
}
.btn {
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	text-align: center;
	width: 100%;
	cursor: pointer;
	display: inline-block;
	padding: 16px;
	border-radius: 40px;
}
.modal {
	display: none !important;
}
.btn.btn_v1:hover {
	background-color: #16D278;
	border-color: #16D278;
}
.btn.btn_v2:hover {
	background: #FFE8CC;
	border-color: #FF8A00;
}
.modal_wrapper_buttons {
	display: grid;
	padding: 0 32px 32px 32px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 16px;
}
.btn.btn_v1 {
	background-color: #FF8A00;
	color: #ffffff;
	border: 1px solid #FF8A00;
}
.btn.btn_v2 {
	border: 1px solid #7A94B8;
	background-color: transparent;
	color: #3D4A5C;
}
.wrapper_form input[type="submit"] {
	margin-top: 48px;
}
.container {
	padding-left: 33px;
	padding-right: 33px;
}
.header_col {
	display: flex;
	align-items: center;
}
ul, ol {
	list-style-type: none;
}
.header_menu ul li a {
	font-family: Poppins;
	transition: all .3s linear;
	font-size: 20px;
	border-radius: 24px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
	color: #29313D;
	padding: 8px 16px;
	text-decoration: none;
}
.header_menu ul {
	display: flex;
	align-items: center;
}
.header_menu ul li:not(:last-child) {
	margin-right: 16px;
}
.header_menu {
	margin-left: 70px;
}
.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.user_item img {
	max-width: 54px;
	width: 54px;
	height: 54px;
	border-radius: 100%;
}
.users_list {
	padding: 16px 24px;
}
.user_item_email {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	color: #29313D;
}
.user_item_title {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	margin-bottom: 8px;
	color: #29313D;
}
.user_item > div {
	margin-left: 16px;
}
.user_item {
	display: flex;
	position: relative;
	align-items: center;
}
.user_item_counts {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	min-width: 24px;
	width: 24px;
	position: absolute;
	right: 0;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	background: #EB5757;
}
.header_chat_wrapper_popup_wrapper_chat_all_line > .chat_user_info > img {
	max-width: 55px;
	max-height: 55px;
	height: 55px;
	width: 55px;
	border-radius: 100%;
	margin-bottom: 8px;
}
.header_chat_wrapper_popup_wrapper_chat_all_line:not(:last-child) {
	margin-bottom: 16px;
}
.chat_user_message_time {
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-align: right;
	color: #BAC9DE;
}
.header_chat_wrapper_popup_wrapper_chat_all_line:nth-child(even) .chat_user_info {
	order: 2;
}

.header_chat_wrapper_popup_wrapper_chat_all_line:nth-child(even) .chat_user_message {
	margin-left: 0;
	margin-right: 16px;
	border-radius: 20px 0 20px 20px;
}
.chat_user_message {
	margin-left: 16px;
	background: #667B99;
	padding: 8px 16px;
	font-family: Poppins;
	font-size: 16px;
	border-radius: 0 20px 20px 20px;
	color: #ffffff;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.chat_user_name {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	color: #29313D;
}
.header_chat_wrapper_popup_wrapper_chat {
	display: none;
}
.header_chat_wrapper_popup_wrapper_chat_all_line {
	display: flex;
	align-items: flex-start;
}
.header_chat_wrapper_popup_wrapper_chat_submit  > div {
	position: relative;
}
.header_chat_wrapper_popup_wrapper_chat_submit > div > svg {
	position: absolute;
    right: 20px;
    top: 11px;
	cursor: pointer;
}
.header_chat_wrapper_popup_wrapper_chat_submit {
	padding: 16px 24px;
	position: relative;
}
.header_chat_wrapper_popup_wrapper_chat_all {
	padding: 16px 32px;
	height: 300px;
	overflow: scroll;
}
.header_chat_wrapper_popup_wrapper_chat_top {
	padding: 16px 24px;
	display: flex;
	border-bottom: 1px solid #BAC9DE;
	align-items: center;
}
.header_chat_wrapper_popup_wrapper_chat_top > div {
	font-family: Poppins;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
	margin-left: 24px;
	color: #29313D;
}
.header_chat_wrapper_popup_wrapper {
	padding-bottom: 50px;
}
.header_chat_wrapper_popup {
	max-width: 504px;
	width: 100%;
	width: 504px;
	z-index: 100;
	top: 150% !important;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: all .3s linear;
	background: #ffffff;
}
.chat-open {
	overflow: hidden;
}
.chat-open .header_chat_wrapper_popup {
	opacity: 1;
	visibility: visible;
}
body.chat-open .overflow{
	width: 100%;
	height: 100%;
	z-index: 50;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
	background: rgba(0,0,0,.5);
}
.main_files_col_center .logs_top_filter_col_input {
	width: 338px;
}
.main_files_col_center {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 24px 0;
}
.header_chat_wrapper_popup .logs_top_filter_col_input {
	padding: 24px 24px 0 24px;
}
.header_chat .logs_top_filter_col_input {
	margin-left: 0;
}
.files .header {
	z-index: 20;
	position: relative;
}
.main_files_col_col {
	display: flex;
	align-items: center;
}
.header {
	padding-top: 6px;
	
	background: #ffffff;
	padding-bottom: 6px;
	box-shadow: 0px 2px 10px 0px #00000026;
}
.header_chat_wrapper_popup {
	position: absolute;
	box-shadow: 0px 4px 8px 0px #00000040;
	border-radius: 20px;
	z-index: 200;
}
.header_chat {
	position: relative;
	padding: 16px;
	cursor: pointer;
	transition: all .3s linear;
	border-radius: 100%;
	margin-right: 30px;
}
.header_chat svg {
	display: block;
}
.header_chat span {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 2px;
	right: 2px;
	background: #EB5757;
	border-radius: 100%;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
}
.header_account_popup.active .settings_block_popup {
	opacity: 1;
	visibility: visible;
}
.header_account_popup {
	position: absolute;
    top: 130%;
    background: #ffffff;
    width: 100%;
	z-index: 20;
}
.header_account {
	display: flex;
	cursor: pointer;
	position: relative;
	align-items: center;
	transition: all .3s linear;
	padding: 8px 16px;
}
.header_account_email{
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #29313D;
}
.header_account_photo {
	margin-right: 10px;
}
.header_account_count {
	margin-left: 10px;
	border: 1px solid #9CAFC9;
	width: 40px;
	height: 32px;
	min-width: 40px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #29313D;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
.header_menu li.active a {
	color: #FF8A00;
}
.header_account:hover {
	background: #63EB5733;
	border-radius: 4px;
}
.header_chat:hover {
	background: #63EB5733;
}
.header_menu li a:hover {
	background: #63EB5733;
}
.title {
	margin: 40px 0;
}
h2 {
	font-family: Poppins;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	color: #29313D;
}
.companies_items_wrapper {
	background: #FFFFFF;
	padding: 24px;
	border-radius: 20px;
}
.companies_items_item:not(:last-child) {
	margin-bottom: 16px;
}
.companies_items_item {
	border: 1px solid #BAC9DE;
	border-radius: 12px;
	cursor: pointer;
}
.companies_items_item_main {
	padding: 8px 36px 8px 8px;
}
.companies_items_item_main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.companies_items_item_main > div {
	display: flex;
	align-items: center;
}
.companies_items_item_main_image {
	display: block;
	max-width: 80px;
	max-height: 80px;
	height: 80px;
	width: 80px;
}
.companies_items_item_main_title {
	font-family: Poppins;
	font-size: 22px;
	font-weight: 700;
	margin-left: 24px;
	line-height: 28px;
	text-align: left;
	color: #29313D;
}
.companies_items_item_main > div:last-child > span {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	color: #667B99;
	line-height: 24px;
	text-align: left;	
}
.companies_items_item_main > div:last-child > span:first-child {
	margin-right: 32px;
}
.companies_items_item_main_arrow svg {
	display: block;
	transition: all .3s linear;
}
.companies_items_item_main_arrow {
	margin-left: 64px;
}
.companies_items_item_content {
    overflow: hidden;
	padding: 16px 40px 24px 24px;
	display: none;
}
.companies_items_item.expanded .companies_items_item_main_arrow svg {
	transform: rotate(180deg);
}
.companies_items_item.expanded .companies_items_item_main {
	border-bottom: 1px solid #BAC9DE;
}
.companies_items_item_content_wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr 150px 1fr;
	grid-gap: 64px;
}
.wrapper_storages_item_col_wrap> svg {
	display: block;
	margin-right: 16px;
}
.companies_items_item_content_pallet_1 {
	background: #FF8A00;
}
.companies_items_item_content_pallet {
	width: 40px;
	min-width: 40px;
	display: inline-block;
	height: 40px;
	border-radius: 100%;
}
.wrapper_storages_item:not(:last-child) {
	margin-bottom: 16px;
}
.companies_items_item_content_title {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: #667B99;
	margin-bottom: 16px;
}
.companies_items_item_user_permissions {
	width: fit-content;
	border: 1px solid #9CAFC9;
	border-radius: 4px;
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.companies_items_item_user_permissions > span {
	font-family: Poppins;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	line-height: 18px;
}
.companies_items_item_user_permissions > span:first-child {
	padding: 3px 8px;
}
.companies_items_item_user_permissions > span:last-child {
	outline: 1px solid #9CAFC9;
	display: block;
	padding: 3px 8px;
	border-radius: 4px;
}
.transition {
	transition: all .3s linear;
}
.companies_items_item_user_info_options {
	position: relative;
}
.companies_items_item_user_info_options svg {
	display: block;
	border-radius: 100%;
}
.companies_items_item_user_info_options:hover {
	background: #63EB5733;
	border-radius: 100%;
}

.companies_items_item_user_info, .companies_items_item_user_info_email {
	display: flex;
	align-items: center;
}
.companies_items_item_user_info img {
	display: block;
	max-width: 32px;
	max-height: 32px;
	height: 32px;
	width: 32px;
}
.companies_items_item_user_info {
	margin-bottom: 16px;
}
.companies_items_item_user_info_email span {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 8px;
}
.companies_items_item_user_wrapper:not(:last-child) {
	margin-bottom: 48px;
}
.settings_block_popup {
	width: 228px;
	max-width: 228px;
	position: absolute;
	right: 0;
	overflow: hidden;
	border-radius: 8px;
	left: 0;
	top: 130%;
	z-index: 100;
	box-shadow: 0px 4px 8px 0px #00000040;
	background: #ffffff;
}
.settings_block_popup ul {
	display: block;
	width: 100%;
}
.settings_block_popup ul li {
	display: flex;
	align-items: center;
}
.settings_block_popup ul li a {
	width: 100%;
	display: flex;
	padding: 10px 16px;
	align-items: center;
	font-family: Poppins;
	transition: all .3s linear;
	font-size: 16px;
	text-decoration: none;
	font-weight: 400;
	color: #29313D;
	line-height: 24px;
}
.settings_block_popup ul li a svg {
	display: block;
	margin-right: 12px;
}
.settings_block_popup ul li a:hover {
	background: #63EB5733;
}
.settings_block_popup {
	opacity: 0;
	visibility: hidden;
}
.show_options.active .settings_block_popup {
	opacity: 1;
	visibility: visible;
}
.wrapper_storages_item_status {
	min-width: 8px;
	width: 8px;
	height: 8px;
	min-height: 8px;
	border-radius: 100%;
}
.wrapper_storages_item_name {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	margin-left: 16px;
	margin-right: 8px;
	line-height: 24px;
	text-align: left;
}
.wrapper_storages_item_col {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px 0 12px;
	border: 1px solid #9CAFC9;
	border-radius: 8px;
}
.wrapper_storages_item_col_wrap {
	display: flex;
	align-items: center;
}
.status_1 {
	background: #16D278;
}
.status_2 {
	background: #F09000;
}
.progress-ring {
    transform: rotate(-90deg);
}
.progress-ring__circle {
    transition: 0.35s stroke-dasharray;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
	fill: #ECF0F3;
}
.progress-text {
    position: absolute;
    font-size:10px;
	font-family: Poppins;
    font-weight: bold;
}
.progress-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backlink {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.backlink a {
	margin-right: 24px;
}
.edit_block {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;
}
.button {
	display: flex;
	font-family: Poppins;
	text-decoration: none;
	color: #3D4A5C;
	transition: all .3s linear;
	font-size: 16px;
	padding: 8px 30px;
	font-weight: 600;
	cursor: pointer;
	border: 1.5px solid #7A94B8;
	line-height: 20px;
	border-radius: 40px;
	text-align: center;
	width: fit-content;
	align-items: center;
}
.button:hover {
	background: #FFE8CC;
	border-color: #FF8A00;
}
.button svg {
	margin-right: 8px;
}
.companies_tabs_wrapper {
	background: #FFFFFF;
	border-radius: 20px;
	padding: 32px;
}
.companies_tabs_wrapper .companies_tabs_wrapper_top > ul {
	border: 1px solid #FF8A0033;
	border-radius: 20px;
	display: flex;
	align-items: center;
	width: fit-content;
	overflow: hidden;
}
.companies_tabs_wrapper .companies_tabs_wrapper_top > ul li {
	padding: 16px 32px;
	font-family: Poppins;
	display: flex;
	cursor: pointer;
	align-items: center;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
	color: #52637A;
}
.upload_logo input {
	display: none;
}
.companies_tabs_wrapper_content {
	margin-top: 24px;
}
.subtitle {
	font-family: Poppins;
	font-size: 16px;
	margin-bottom: 24px;
	color: #667B99;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
}
.modal .subtitle {
	margin-bottom: 14px;
}
#create_edit_project .wrapper_modal {
	max-width: 600px;
	width: 100%;
}
.companies_tabs_wrapper .companies_tabs_wrapper_top > ul li a {
	color: #52637A;
	text-decoration: none;
}
.companies_tabs_wrapper .companies_tabs_wrapper_top > ul li span {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	margin-right: 8px;
	background: #9CAFC9;
	border-radius: 100%;
	min-width: 24px;
	height: 24px;
	width: 24px;
}
.companies_tabs_wrapper .companies_tabs_wrapper_top > ul li:not(:last-child) {
	border-right: 1px solid #FF8A0033
}
.companies_tabs_wrapper .companies_tabs_wrapper_top > ul li.active span {
	background: #FF8A00;
	color: #ffffff;
}
.create_edit_storage_wrapper_content, .create_edit_project__wrapper {
	padding: 24px 32px;
}
.create_edit_storage_wrapper_content_item_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 16px;
}
.companies_tabs_wrapper .companies_tabs_wrapper_top > ul li.active  {
	background: #FFE8CC;
}
.upload_logo label {
	border: 1px solid #BAC9DE;
	max-width: 450px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
}
.companies_tabs_wrapper_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.upload_logo {
	display: flex;
	align-items: center;
}
.upload_logo img {
	display: block;
	margin-right: 24px;
	max-width: 96px;
}
.upload_logo label span:first-child {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	display: inline-block;
	line-height: 24px;
	padding-left: 16px;
	text-align: left;
	color: #29313D;
}
.companies_details {
	max-width: 550px;
}
.line_info_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}
.upload_logo label span:last-child {
	font-family: Poppins;
	font-size: 14px;
	display: inline-block;
	border-radius: 10px;
	padding: 14px 32px;
	font-weight: 600;
	outline: 1px solid #7A94B8;
	line-height: 18px;
	cursor: pointer;
	text-align: center;
	color: #29313D;
	
}
.mini_text {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	margin-top: 8px;
	display: inline-block;
	text-align: left;
	color: #7A94B8;
}
.line_info:not(:last-child) {
	margin-bottom: 24px;
}
.companies_storages__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px;
}
.companies_storages_item_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
}
.companies_storages__item {
	border: 1px solid #BAC9DE;
	border-radius: 16px;
	height: fit-content;
}
.companies_owner .upload_logo img {
	border-radius: 100%;
}

.companies_owner {
	max-width: 576px;
}
.companies_owner .mini_text {
	display: block;
	text-align: right;
}
.companies_storages_item_top_col {
	display: flex;
	align-items: center;
}
.companies_storages_item_top_col > svg {
	margin-right: 11px;
}
.custom_radio {
	position: relative;
	display: block;
}
.custom_radio input {
	display: none;
}
.custom_radio span {
	width: 48px;
	position: relative;
	height: 24px;
	min-width: 48px;
	background: #CFD8E5;
	display: block;
	transition: all .3s linear;
	border-radius: 12px;
	cursor: pointer;
}
.companies_storages_item_second_content {
	padding: 16px;
}
.custom_radio input:checked + span {
	background: #FF8A00;
}
.custom_radio input:checked + span:before {
	right: 4px;
	left: auto;
}
.custom_radio span:before {
	width: 16px;
	transition: all .3s linear;
	min-width: 16px;
	height: 16px;
	border-radius: 100%;
	background: #ffffff;
	content: '';
	position: absolute;
	transform: translate(0, -50%);
    top: 50%;
	left: 4px;
}
.companies_storages_item_second {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.companies_storages_item_second_status {
	padding: 4px 8px;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	border-radius: 8px;
	display: flex;
	align-items: center;
	line-height: 24px;
	text-align: center;
}
.companies_storages_item_second_status:after {
	content: '';
	width: 8px;
	min-width: 8px;
	margin-left: 12px;
	height: 8px;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
}
.companies_storages_item_second_status_active {
	color: #16D278;
}
.companies_storages_item_second_status_disabled {
	background: #F0820033;
	color: #F09000;
}

.companies_storages_item_second_status_rejected {
	background: #EB575733;
	color: #EB5757;
}
.companies_storages_item_second_status_active {
	background: #63EB5733;
}
.companies_storages_item_second_status_active:after {
	background: #16D278;
}
.companies_storages_item_second_status_rejected:after {
	background: #EB5757;
}
.companies_storages_item_second_status_disabled:after {
	background: #F09000;
}
.companies_storages_item_second_title {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: #667B99;
}
.companies_storages_item_list {
	margin-top: 16px;
}
.companies_storages_item_second_item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.companies_storages_item_second_item span:first-child {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	min-width: 110px;
	text-align: left;
	color: #29313D;
}
.companies_storages_item_second_item:not(.companies_storages_item_second_item_percent) span:last-child {
	font-family: Poppins;
	padding: 8px 16px;
	border-radius: 8px;
	background: #E4EAF1;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #29313D;
}
.companies_storages_item_second_item:not(:last-child) {
	margin-bottom: 16px;
}
.companies_storages_item_second_item_percent span > span {
	font-family: Poppins;
	padding: 8px 16px;
	border-radius: 8px;
	background: #E4EAF1;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #29313D;
}
.companies_storages_item_buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 16px;
	grid-gap: 16px;
}
.companies_storages_item_buttons .button {
	width: 100%;
	justify-content: center;
}
.companies_storages_item_second_item_percent span:last-child {
	display: flex;
	align-items: center;
}
.companies_storages_item_second_item_percent .progress-container {
	margin-left: 10px;
}
.companies_storages_item_second_spaces {
	padding: 32px 16px 16px 16px;
	border-top: 1px solid #BAC9DE;
	margin-top: 24px;
}
.companies_storages_item_second_spaces_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.companies_storages_item_second_spaces_top span {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	text-align: left;
	color: #29313D;;
}
.companies_storages_item_second_files {
	margin-top: 32px;
}
.companies_storages_item_second_spaces_top .button {
	font-size: 15px;
}
.companies_storages_item_second_spaces_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.companies_storages_item_second_spaces_title > div {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	display: flex;
	align-items: center;
	line-height: 24px;
	text-align: left;
	color: #29313D;
}
.companies_storages_item_second_spaces_title > div svg {
	display: block;
	margin-right: 8px;
}
.companies_storages_item_second_spaces_filemanager ul:not(.options) {
	padding-left: 35px;
	margin-top: 5px;
	position: relative;
	margin-bottom: 10px;
}
.companies_tabs_wrapper {
	margin-bottom: 50px;
}
.companies_storages_item_second_spaces_filemanager ul > li {
	font-family: Poppins;
	font-size: 14px;
	position: relative;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	color: #29313D;
}
.info_approve {
	display: flex;
	align-items: center;
}
.user_edit_create .backlink .btn svg {
	margin-right: 8px;
	margin-left: 0;
}
.info_approve > span {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin-left: 16px;
	color: #29313D;
}
.companies_tabs_wrapper_user:not(:last-child) {
	margin-bottom: 15px;
}
.companies_tabs_wrapper_user_col_photo img {
	display: block;
	max-width: 80px;
	max-height: 80px;
	width: 80px;
}
.companies_tabs_wrapper_user_col .edit_block .button {
	margin-right: 16px;
}
.companies_tabs_wrapper_user_wrapper_company {
	display: flex;
	align-items: center;
}
.companies_tabs_wrapper_user_imgCompany img {
	display: block;
	max-width: 80px;
	max-height: 80px;
	width: 80px;
}
.companies_tabs_wrapper_user_email {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	text-align: left;
	color: #29313D;
}
.companies_tabs_wrapper_user_name {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	text-align: left;
	margin-bottom: 8px;
}
.companies_tabs_wrapper_user_col .companies_items_item_user_permissions {
	margin-bottom: 0;
}
.companies_tabs_wrapper_user_nameCompany {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 8px;
	text-align: left;
	color: #29313D;
}
.companies_items_item_content_col .settings_block_popup {
	right: 0;
	left: auto;
}
.companies_storages_item_second_spaces_filemanager ul > li > div:not(.show_options) {
	transition: all .3s linear;
	padding: 8px;
	cursor: pointer;
	border-radius: 4px;
}
.companies_tabs_wrapper_user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.show_options {
	position: relative;
}
.show_options svg {
	cursor: pointer;
}
.companies_storages_item_second_spaces_filemanager ul > li > div:not(.show_options):hover {
	background: #E4EAF1;
}
.companies_storages_item_second_spaces_filemanager ul > li > div:not(.show_options):hover .show_options {
	opacity: 1;
	visibility: visible;
}



.companies_storages_item_second_spaces_filemanager ul > li > div .show_options > svg {
	display: block;
	margin-right: 0;
}
.companies_storages_item_second_spaces_filemanager ul > li > div .show_options:hover {
	background: #63EB5733;
	border-radius: 100%;
}
.companies_storages_item_second_spaces_filemanager ul > li .show_options {
    position: absolute;
    top: 6px;
	cursor: pointer;
	right: 10px;
	visibility: hidden;
	opacity: 0;
}
.companies_storages_item_second_spaces_filemanager ul > li:not(:last-child) {
	margin-bottom: 8px;
}
.companies_storages_item_second_spaces_filemanager ul > li svg {
	display: inline-block;
	margin-right: 8px;
}
.companies_storages_item_second_spaces_filemanager ul > li span {
	vertical-align: super;
}
.companies_storages_item_second_spaces_filemanager ul:not(.options) > li:before {
	content: '';
	width: 10px;
	position: absolute;
	height: 1px;
	border-top: 1px dashed #9CAFC9;
    display: inline-block;
    left: -20px;
    top: 20px;
}
.custom_checkbox input {
	display: none;
}


.companies_storages_item_second_spaces_filemanager ul:not(.options):before {
	content: '';
    height: calc(100% - 12px);
    width: 1px;
    border-right: 1px dashed #9CAFC9;
    display: block;
    position: absolute;
    left: 8px;
    top: -11px;
}
.modal .companies_storages_item_second_spaces_filemanager > ul > li > div > .custom_checkbox {
	left: -100px;
	top: 11px;
}
.modal .companies_storages_item_second_spaces_filemanager > ul > li > ul > li > div > .custom_checkbox {
	left: -135px;
	top: 11px;
}
.modal .companies_storages_item_second_spaces_filemanager {
	border: 1px solid #BAC9DE;
	border-radius: 10px;
	margin-top: 32px;
	height: 300px;
	overflow-y: scroll;
	padding-left: 73px;
}
.custom_checkbox {
	position: absolute;
	
}
.custom_checkbox input:checked + span {
	background: url('assets/images/checkbox.svg') no-repeat center;
	border: 0;
}
.create_edit_storage_wrapper_content_item:not(:last-child) {
	margin-bottom: 20px;
}
.modal .companies_storages_item_second_spaces_filemanager + .create_edit_storage_wrapper_content_item {
	margin-top: 20px;
}
.modal .upload_logo label {
	max-width: 100%;
	width: 100%;
}
.custom_checkbox span {
	border: 1px solid#BAC9DE;
	width: 24px;
	height: 24px;
	border-radius: 4px;
	background: transparent;
	display: block;
}
.companies_storages_item_second_spaces_filemanager > ul:before {
	height: calc(100% - 30px) !important;
	top: 8px !important;
}
body.modal-active {
	overflow: hidden;
}
.companies_storages_item_second_spaces_filemanager ul > li span .show_options {
	position: absolute;
}
.modal {
	position: fixed;
	background: rgba(0,0,0, .3);
	width: 100%;
	height: 100%;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	bottom: 0;
}
.backlink > div {
	display: flex;
	align-items: center;
}
.modal.show {
	display: flex !important;
	overflow: auto;
}
.backlink .btn svg {
	margin-left: 8px;
}
.backlink .btn {
	width: auto;
	padding-left: 45px;
	padding-right: 45px;
	text-decoration: none;
	display: flex;
	align-items: center;
}
.modal_title {
	font-family: Poppins;
	font-size: 22px;
	font-weight: 700;
	color: #3D4A5C;
	line-height: 28px;
	border-bottom: 1px solid #CFD8E5;
	text-align: left;
	padding: 20px 32px;
}
.file_deleted {
	transform: translateY(1000px);
	transition: all .5s linear;
}
.file_deleted.active {
	transform: translateY(0);
}
.modal_close svg {
	display: block;
	position: absolute;
	cursor: pointer;
	right: 20px;
	top: 14px;
}
.file_deleted_top {
	display: flex;
	align-items: flex-start;
}
.file_deleted_close svg {
	display: block;
}
.file_deleted_restore {
	width: fit-content;
	font-family: Poppins;
	display: block;
	margin-left: auto;
	cursor: pointer;
	margin-top: 17px;
	font-size: 14px;
	font-weight: 600;
	transition: all .3s linear;
	padding: 9px 32px;
	line-height: 18px;
	text-align: center;
	color: #3D4A5C;
}
.file_deleted_close {
	right: 24px;
	top: 24px;
	position: absolute;
	cursor: pointer;
}
.file_deleted_restore:hover {
	background: #63EB5733;
	border-radius: 40px;
}
.file_deleted_title {
	font-family: Poppins;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
	color: #29313D;
}
.file_deleted_info {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	margin-top: 15px;
	text-align: left;
	color: #7A94B8;
}
.file_deleted_top svg {
	min-width: 24px;
	margin-right: 12px;
}
.file_deleted {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: fit-content;
	background: #ffffff;
	padding: 24px;
	box-shadow: 0px 4px 8px 0px #00000040;
	border-left: 6px solid #F09000;
	border-radius: 10px;
	min-width: 440px;
}
.logs_top_filter_col_input input:focus {
	border-color: #BAC9DE !important;
}
.modal_delete_files {
	padding: 24px 32px;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #29313D;
}
.files_all_files .show_options.active .settings_block_popup {
	bottom: 130%;
	top: auto;
	left: auto;
	right: 0;
}
.files_all_files_table table tbody tr:nth-child(1) .settings_block_popup, .files_all_files_table table tbody tr:nth-child(2) .settings_block_popup, .files_all_files_table table tbody tr:nth-child(3) .settings_block_popup, .files_all_files_table table tbody tr:nth-child(4) .settings_block_popup {
	top: 130% !important;
	bottom: auto !important;
}
.main_files_col .wrapper_files {
	padding: 16px;
}
.modal_delete_files span {
	font-weight: 700;
}
.main_files_col_cards_lines span {
	display: flex;
	padding: 7px 13px;
	border: 3px solid #7A94B8;
	align-items: center;
	font-family: Poppins;
	color: #3D4A5C;
	font-size: 16px;
	cursor: pointer;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}
.main_files_col_cards_lines span.active:first-child {
	border-color: #FF8A00;
	background: #F0DCC2;
	border-right: 3px solid #FF8A00 !important;
}
.main_files_col_cards_lines span.active:last-child {
	border-color: #FF8A00;
	background: #F0DCC2;
	border-left: 3px solid #FF8A00;
}
.main_files_col_cards_lines span:not(.active):last-child {
	border-left: 0;
}
.main_files_col_cards_lines span:first-child {
	border-radius: 40px 0 0 40px;
	border-right: 0;
}
.main_files_col_cards_lines span:first-child svg {
	margin-right: 8px;
}
.main_files_col_cards_lines span:last-child svg {
	margin-right: 8px;
}
.main_files_col_cards_lines span:last-child {
	border-radius: 0 40px 40px 0;
}
.main_files_col_cards_lines svg {
	display: block;
}
.files_all_files {
	background: #ffffff;
	overflow: hidden;
	padding: 16px;
	margin-bottom: 70px;
	border-radius: 16px;
}
.files_all_files_navigation {
	display: flex;
	align-items: center;
}
.files_all_files_navigation > span svg {
	margin-right: 8px;
}
.files_all_files_navigation > span > span {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: left;
	color: #29313D;	
}
.files_all_files_navigation_arrow {
	margin: 0 5px;
}
.files_all_files_top {
	margin-bottom: 16px;
}
.files_all_files_table table {
	width: 100%;
}
.files_all_files_name img {
	margin-right: 8px;
}
.files_all_files_name span {
	font-family: Poppins;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	text-align: left;
	color: #29313D;
}
.files_all_files_name {
	display: flex;
	align-items: center;
}
.files_all_files_table table tbody tr td {
	padding: 8px 16px;
	vertical-align: middle;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #29313D;
}
.files_all_files_table table tbody tr td:first-child {
	padding-left: 8px;
}
.files_all_files_table table tbody tr:hover td {
	background: #F2F4F8;
}
.files_all_files_table table tbody tr:hover td:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.files_all_files_buttons_button svg {
	display: block;
	cursor: pointer;
}
.files_all_files_buttons {
	display: flex;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all .3s linear;
	justify-content: flex-end;
}
.files_all_files_table table tbody tr:hover .files_all_files_buttons {
	opacity: 1;
	visibility: visible;
}
.files_all_files_buttons .files_all_files_buttons_button:not(:last-child) {
	margin-right: 32px;
}
.files_all_files_buttons > .files_all_files_buttons_button > svg:hover, .files_all_files_buttons > .files_all_files_buttons_button .companies_items_item_user_info_options svg:hover  {
	padding: 2px;
	background: #63EB5733;
	border-radius: 100%;
}
.files_all_files_table table tbody tr:hover td:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.files_all_files_access {
	padding: 4px 8px;
	border: 1px solid #9CAFC9;
	border-radius: 4px;
	margin-left: 32px;
	font-family: Poppins;
	font-size: 16px;
	color: #29313D;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
.files_all_files_table table thead tr td:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.files_all_files_table table thead tr td:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.files_all_files_table table thead tr td {
	font-family: Poppins;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	padding: 8px 16px;
	background: #E4EAF1;
	text-align: left;
	color: #29313D;
}
.files_all_files_table table thead tr td span {
	display: flex;
	align-items: center;
}
.files_all_files_table table thead tr td span svg {
	margin-left: 8px;
}
.files_all_files_navigation > span {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all .3s linear;
	border-radius: 20px;
	padding: 8px 15px;
}
.files_all_files_navigation > span:hover {
	background: #5ACC0026;
}
.main_files_col_cards_lines {
	display: flex;
	border-radius: 40px;
	align-items: center;
	margin-left: 24px;
}
.wrapper_modal	{
	background: #ffffff;
	position: relative;
	z-index: 100;
	border-radius: 24px;
	box-shadow: 0px 4px 16px 0px #00000040;
	min-width: 400px;
}
.main_files {
	display: grid;
	grid-template-columns: 288px 1fr 300px;
	grid-gap: 32px;
}
.main_files_col:first-child {
	background: #ffffff;
}